@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir/avenir-next-Regular.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir/avenir-next-Light.otf") format("opentype");
  font-weight: 150;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir/avenir-next-Medium.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir/avenir-next-Demi.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir/avenir-next-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Avenir";
  src: url("../assets/fonts/avenir/avenir-next-Heavy.otf") format("opentype");
  font-weight: 1000;
}

// system

// @font-face {
//   font-family: "System";
//   src: url("../assets/fonts/system/sf-ui-display-thin-58646e9b26e8b.otf")
//     format("opentype");
//   font-weight: 100;
// }

// @font-face {
//   font-family: "System";
//   src: url("../assets/fonts/system/sf-ui-display-light-58646b33e0551.otf")
//     format("opentype");
//   font-weight: 200;
// }

// @font-face {
//   font-family: "System";
//   src: url("../assets/fonts/system/sf-ui-display-medium-58646be638f96.otf");
//   font-weight: 300;
// }

// @font-face {
//   font-family: "System";
//   src: url("../assets/fonts/system/sf-ui-display-bold-58646a511e3d9.otf")
//     format("opentype");
//   font-weight: 400;
// }

// NB International Pro

@font-face {
  font-family: "NB";
  src: url("../assets/fonts/NB/NB-International-Regular-Webfont.otf")
    format("opentype");
}

// Open

// @font-face {
//   font-family: "Open";
//   src: url("../assets/fonts/open/OpenSans-Regular.ttf") format("opentype");
//   font-weight: 100;
// }
