$side-padding-desktop: 10em;
$side-padding-laptop: 6em;
$side-padding-tablet: 2em;
$side-padding-phone: 1em;

$tablet-media: 768px;
$laptop-media: 1024px;
$desktop-media: 1440px;

// Devid Media Queries
$md-mq: 800px;
$lg-mq: 1056px;

// Devid Widths
$md-wd: 768px;
$lg-wd: 1024px;
