$black: #323232;
$mercury: #e1e1e1;
$silver: #afafaf;
$alabaster: #fafafa;
$green: rgb(18, 184, 120);
$green-active: rgb(21, 193, 127);
$purple: rgb(101, 127, 230);
$purple-active: rgb(108, 135, 245);